.secondary-panel {
  z-index: 9999 !important;
  left: 230px !important;
  right: 0 !important;
  display: none;
}

.secondary-panel.active {
  display: block;
}

.styles .color {
  width: 36px;
  height: 14px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 1);
}

.styles .swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}

.styles .popv {
  position: absolute;
  z-index: 2;
}

.styles .cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.right-sidebar-wrap .list-group > .list-group-item.styles:hover {
  color: #9cabba !important;
}