.secondary-panel {
  z-index: 9999 !important;
  left: 230px !important;
  right: 0 !important;
  display: none;
}

.secondary-panel.active {
  display: block;
}

.styles .color {
  width: 36px;
  height: 14px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 1);
}

.styles .swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}

.styles .popv {
  position: absolute;
  z-index: 2;
}

.styles .cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.right-sidebar-wrap .list-group > .list-group-item.styles:hover {
  color: #9cabba !important;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.side-nav>li.view-item>a i {
  color: white !important;
  top: -1px !important;
}

.side-nav>li.view-item {
  cursor: pointer;
}

.side-nav>li.view-item:hover>a i {
  color: #56cf87 !important;
}
.side-nav>li.view-item:hover>a i:before {
  content: "\f111";
}

.side-nav>li.view-item.active>a i {
  color: #56cf87 !important;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.hide {
  display: none;
}

.overlay {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.focusLine {
  fill: none;
  stroke: steelblue;
  stroke-width: 0.5px;
}

.d3-context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;

  font-family: Arial, sans-serif;
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;

  z-index:1200;
}

.d3-context-menu ul {
  list-style-type: none;
  margin: 4px 0px;
  padding: 0px;
  cursor: default;
}

.d3-context-menu ul li {
  padding: 4px 16px;
}

.d3-context-menu ul li:hover {
  background-color: #4677f8;
  color: #fefefe;
}
