.secondary-panel {
  z-index: 9999 !important;
  left: 230px !important;
  right: 0 !important;
  display: none;
}

.secondary-panel.active {
  display: block;
}

.styles .color {
  width: 36px;
  height: 14px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 1);
}

.styles .swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}

.styles .popv {
  position: absolute;
  z-index: 2;
}

.styles .cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.right-sidebar-wrap .list-group > .list-group-item.styles:hover {
  color: #9cabba !important;
}

.axis path,
.axis--x path,
.axis--y path,
.axis line,
.axis--x line
.axis--y line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.side-nav>li.view-item>a i {
  color: white !important;
  top: -1px !important;
}

.side-nav>li.view-item {
  cursor: pointer;
}

.side-nav>li.view-item:hover>a i {
  color: #56cf87 !important;
}
.side-nav>li.view-item:hover>a i:before {
  content: "\f111";
}

.side-nav>li.view-item.active>a i {
  color: #56cf87 !important;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.hide {
  display: none;
}

.overlay {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.focusLine {
  fill: none;
  stroke: steelblue;
  stroke-width: 0.5px;
}

.d3-context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;

  font-family: Arial, sans-serif;
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;

  z-index:1200;
}

.d3-context-menu ul {
  list-style-type: none;
  margin: 4px 0px;
  padding: 0px;
  cursor: default;
}

.d3-context-menu ul li {
  padding: 4px 16px;
}

.d3-context-menu ul li:hover {
  background-color: #4677f8;
  color: #fefefe;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: #fff;
}

.close {
  opacity: 0.9;
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #ffffff;
}

div.evtooltip { 
  position: absolute;    
  color: white; 
  text-align: center;     
  width: 250px;          
  height: 100px;         
  padding: 2px;       
  font: 12px sans-serif;
  background: rgba(0, 0, 0, 0.5); 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;   
}

div.dttooltip {
  padding: 2px;       
  font: 12px sans-serif;
  color: black;
}

path.sunburst {
  stroke: #fff;
  fill-rule: evenodd;
}



/* style for visavail.js */
.rect_has_data {
    /* blocks that have data */
    fill: #5cb85c;
}

.rect_has_data:hover {
    fill: #449d44
}

.rect_has_no_data {
    /* blocks without data */
    fill: #d9534d;
}

.rect_has_no_data:hover {
    fill: #c9302c;
}

.tooltip_has_data {
    /* color of symbol in tooltip if there is data */
    color: #449d44;
}

.tooltip_has_no_data {
    /* color of symbol in tooltip if there is no data */
    color: #c9302c;
}

div.tooltip {
    position: absolute;
    text-align: left;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    padding-left: 0;
    width: auto;
    border: 0;
    border-left: thin solid #000000;
    pointer-events: none;
    line-height: 12px;
    padding-top: 0;
    display: block;
}

.x_tick_emph {
    font-weight: bold;
}

.ytitle {
    /* y axis labels */
    dominant-baseline: middle;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
}

.visavail.axis path,
.visavail.axis line {
    display: none;
}

.visavail.axis text {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.vert_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.vert_grid_emph {
    fill: none;
    stroke: #dddddd;
    stroke-width: 2px;
}

.horz_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.heading {
    font-size: 16px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}

.subheading {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.visavail.legend {
    dominant-baseline: middle;
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.avail-tab.active a {
  color: #7f888f;
  border-color: #607786;
}

.avail-tab a {
  color: #f6f9fa;
  background-color: #95a4b8;
  border-color: #607786;
}